# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

FormatStyle: google

CheckOptions:
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           1
  - key:             cppcoreguidelines-macro-usage.AllowedRegexp
    value:           "RADIO_MODULE"
  - key:             readability-magic-numbers.IgnoredFloatingPointValues
    value:           '1000.0'
  - key:             readability-function-cognitive-complexity.IgnoreMacros
    value:           1
  - key:             readability-identifier-naming.ClassCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.EnumCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.ConstCase
    value:           'UPPER_CASE'
  - key:             readability-identifier-naming.EnumConstantCase
    value:           'UPPER_CASE'
  - key:             readability-identifier-naming.FunctionCase
    value:           'camelBack'
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.LocalConstantCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.LocalConstantPrefix
    value:           'k'
  - key:             readability-identifier-naming.LocalVariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.LocalVariablePrefix
    value:           ''
  - key:             readability-identifier-naming.MemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           'm'
  - key:             readability-identifier-naming.NamespaceCase
    value:           'lower_case'
  - key:             readability-identifier-naming.ParameterCase
    value:           'camelBack'
  - key:             readability-identifier-naming.StructCase
    value:           'CamelCase'
